@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Nunito:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}

.envoltorio{
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: red;
}
main{
  background-color: aliceblue;
}
